In [0]:
from pyspark.sql.functions import sum,desc,avg,count

In [0]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("EmpAnalysis").getOrCreate()
data=[
    (1,"John Doe","Engineering",90000),
(2,"Jane Smith","Marketing",75000),
(3,"Michael Johnson","Engineering",105000),
(4,"Emily Davis","Marketing",80000),
(5,"Robert Brown","Engineering",95000),
(6,"Linda Wilson","HR",60000)
]
col=["employee_id","employee_name","department","salary"]
df=spark.createDataFrame(data,col)
df.show()

+-----------+---------------+-----------+------+
|employee_id|  employee_name| department|salary|
+-----------+---------------+-----------+------+
|          1|       John Doe|Engineering| 90000|
|          2|     Jane Smith|  Marketing| 75000|
|          3|Michael Johnson|Engineering|105000|
|          4|    Emily Davis|  Marketing| 80000|
|          5|   Robert Brown|Engineering| 95000|
|          6|   Linda Wilson|         HR| 60000|
+-----------+---------------+-----------+------+

<h3>Calculate the total payroll cost for the company.<\h3>

In [0]:
df1=df.agg(sum("salary").alias("total_payroll"))
df1.show()

+-------------+
|total_payroll|
+-------------+
|       505000|
+-------------+

<h3>Find the average salary for each department<\h3>

In [0]:
df2=df.groupBy("department").agg(avg("salary").alias("avg_salary"))
df2.show()

+-----------+-----------------+
| department|       avg_salary|
+-----------+-----------------+
|Engineering|96666.66666666667|
|  Marketing|          77500.0|
|         HR|          60000.0|
+-----------+-----------------+

<h3>Identify the highest-paid employee and their department.<\h3>

In [0]:
df.orderBy(desc("salary")).limit(1).select("employee_name","department").show()

+---------------+-----------+
|  employee_name| department|
+---------------+-----------+
|Michael Johnson|Engineering|
+---------------+-----------+

<h3>Calculate the total number of employees in each department.<\h3>

In [0]:
df1=df.groupBy("department").agg(count("employee_id").alias("tot_emp"))
df1.show()

+-----------+-------+
| department|tot_emp|
+-----------+-------+
|Engineering|      3|
|  Marketing|      2|
|         HR|      1|
+-----------+-------+