In [0]:
from pyspark.sql.functions import explode

<h3>Explode in pyspark<\h3>

In [0]:
from pyspark.sql import SparkSession
# Create a Spark session
spark = SparkSession.builder.appName("explode_example").getOrCreate()
# Create a DataFrame with an array column
data = [(2,1, ["apple", "banana", "cherry"]), (3,2, ["grape", "orange"])]

col=["rer","id", "fruits"]

df = spark.createDataFrame(data,col )
df.show()
df.show(truncate=False)

+---+---+--------------------+
|rer| id|              fruits|
+---+---+--------------------+
|  2|  1|[apple, banana, c...|
|  3|  2|     [grape, orange]|
+---+---+--------------------+

+---+---+-----------------------+
|rer|id |fruits                 |
+---+---+-----------------------+
|2  |1  |[apple, banana, cherry]|
|3  |2  |[grape, orange]        |
+---+---+-----------------------+

In [0]:
df.select("rer","id", explode("fruits").alias("fruit")).show()

+---+---+------+
|rer| id| fruit|
+---+---+------+
|  2|  1| apple|
|  2|  1|banana|
|  2|  1|cherry|
|  3|  2| grape|
|  3|  2|orange|
+---+---+------+

<h3>question 2<\h3>

In [0]:
# Create a Spark session
spark = SparkSession.builder.appName("explode_example").getOrCreate()
Data=[("India","1",["Kerala","Andhra Pradesh","Karnataka","Tamil Nadu","Telangana","Assam" ,"Bihar","Punjab","Karnataka"]),("canada","2",["Ontario","Alberta"])]
Shema=["Country","id", "States"]

df = spark.createDataFrame(Data, ["Country","id", "States"])
df.show(truncate=False)
# Use explode to transform the array column into separate rows
exploded_df = df.select("Country","id", explode("States").alias("States"))

exploded_df.show(truncate=False)

+-------+---+-------------------------------------------------------------------------------------------+
|Country|id |States                                                                                     |
+-------+---+-------------------------------------------------------------------------------------------+
|India  |1  |[Kerala, Andhra Pradesh, Karnataka, Tamil Nadu, Telangana, Assam, Bihar, Punjab, Karnataka]|
|canada |2  |[Ontario, Alberta]                                                                         |
+-------+---+-------------------------------------------------------------------------------------------+

+-------+---+--------------+
|Country|id |States        |
+-------+---+--------------+
|India  |1  |Kerala        |
|India  |1  |Andhra Pradesh|
|India  |1  |Karnataka     |
|India  |1  |Tamil Nadu    |
|India  |1  |Telangana     |
|India  |1  |Assam         |
|India  |1  |Bihar         |
|India  |1  |Punjab        |
|India  |1  |Karnataka     |
|canada |2  |Ontario       |
|canada |2  |Alberta       |
+-------+---+--------------+