In [0]:
from pyspark.sql.functions import sum,desc,avg,count,max,col

In [0]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("OrderAnalysis").getOrCreate()
data=[
    (1,"Math",85),
(2,"Science",92),
(3,"Math",78),
(4,"English",88),
(5,"Science",95),
(6,"Math",90)
]
col=["student_id","subject","score"]
df=spark.createDataFrame(data,col)
df.show()

+----------+-------+-----+
|student_id|subject|score|
+----------+-------+-----+
|         1|   Math|   85|
|         2|Science|   92|
|         3|   Math|   78|
|         4|English|   88|
|         5|Science|   95|
|         6|   Math|   90|
+----------+-------+-----+

<h3>𝐂𝐚𝐥𝐜𝐮𝐥𝐚𝐭𝐞 𝐭𝐡𝐞 𝐚𝐯𝐞𝐫𝐚𝐠𝐞 𝐬𝐜𝐨𝐫𝐞 𝐟𝐨𝐫 𝐞𝐚𝐜𝐡 𝐬𝐮𝐛𝐣𝐞𝐜𝐭.<\h3>

In [0]:
df1=df.groupBy("subject").agg(avg("score").alias("avg_score"))
df1.show()

+-------+-----------------+
|subject|        avg_score|
+-------+-----------------+
|   Math|84.33333333333333|
|Science|             93.5|
|English|             88.0|
+-------+-----------------+

<h3>𝐈𝐝𝐞𝐧𝐭𝐢𝐟𝐲 𝐭𝐡𝐞 𝐡𝐢𝐠𝐡𝐞𝐬𝐭 𝐬𝐜𝐨𝐫𝐞 𝐚𝐧𝐝 𝐢𝐭𝐬 𝐜𝐨𝐫𝐫𝐞𝐬𝐩𝐨𝐧𝐝𝐢𝐧𝐠 𝐬𝐭𝐮𝐝𝐞𝐧𝐭 𝐟𝐨𝐫 𝐞𝐚𝐜𝐡 𝐬𝐮𝐛𝐣𝐞𝐜𝐭<\h3>

In [0]:
df1=df.groupBy("subject").agg(max("score").alias("mx_score"))
df2=df.join(df1,on=("subject")).filter(col("score")==col("mx_score"))
df2.select("student_id","subject","score").show()

+----------+-------+-----+
|student_id|subject|score|
+----------+-------+-----+
|         4|English|   88|
|         5|Science|   95|
|         6|   Math|   90|
+----------+-------+-----+

<h3>𝐂𝐚𝐥𝐜𝐮𝐥𝐚𝐭𝐞 𝐭𝐡𝐞 𝐭𝐨𝐭𝐚𝐥 𝐧𝐮𝐦𝐛𝐞𝐫 𝐨𝐟 𝐬𝐭𝐮𝐝𝐞𝐧𝐭𝐬 𝐰𝐡𝐨 𝐭𝐨𝐨𝐤 𝐞𝐚𝐜𝐡 𝐬𝐮𝐛𝐣𝐞𝐜𝐭.<\h3>

In [0]:
df3=df.groupBy("subject").agg(count("student_id").alias("no_of_std"))
df3.show()

+-------+---------+
|subject|no_of_std|
+-------+---------+
|   Math|        3|
|Science|        2|
|English|        1|
+-------+---------+

<h3>𝐅𝐢𝐧𝐝 𝐭𝐡𝐞 𝐬𝐮𝐛𝐣𝐞𝐜𝐭(𝐬) 𝐰𝐢𝐭𝐡 𝐭𝐡𝐞 𝐡𝐢𝐠𝐡𝐞𝐬𝐭 𝐚𝐯𝐞𝐫𝐚𝐠𝐞 𝐬𝐜𝐨𝐫𝐞.<\h3>

In [0]:
df1=df.groupBy("subject").agg(avg("score").alias("avg_score")).orderBy(col("avg_score").desc()).limit(1)
df1.show()

+-------+---------+
|subject|avg_score|
+-------+---------+
|Science|     93.5|
+-------+---------+